<div layout="row" layout-align="end start">
	<md-button class="md-raised md-primary" ng-href="#usage" name="usage">Usage</md-button>
	<md-button class="md-raised md-primary" ng-href="#component-log" name="cfc-log">Log CFC</md-button>
	<md-button class="md-raised md-primary" ng-href="#component-table" name="cfc-table">Table CFC</md-button>
	<md-button class="md-raised md-primary" ng-href="#component-dbs" name="cfc-dbs">Database CFC</md-button>
	<md-button class="md-raised md-primary" ng-href="#component-extra" name="cfc-extra">Extras CFC</md-button>
	<md-button class="md-raised md-primary" ng-href="#component-file" name="cfc-file">File CFC</md-button>
</div>
